body{
    justify-content: center;
    text-align: center;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    float: left;
    margin: 5px;
    box-shadow: 2px 2px 2px;
 

}
.calculator{

    width: 400px;
    height: 500px;
   margin-left: 20px;
    
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}
.input-field{
    margin-top: 10px;
    height: 100px;
}